<div class="img-container mb-3">
    <img src="assets/inicio.webp" class="img">
    <div class="welcome">
        <p class="text-light h2 mb-3 text-uppercase">Capacitación en ventas</p>
        <a class="btn btn-lg btn-light" routerLink="/contacto">Registrate</a>
    </div>
</div>
<article class="text-center">
    <p class="h3">Unete a nuestro equipo de capacitación en venta</p>
    <div class="d-flex justify-content-center p-3 align-items-center">
        <div class="me-2">
            <ul class="text-start">
                <li>Si eres una persona de 60 años en adelante.</li>
                <li>Si no tienes ingresos económicos o esta por debajo del salario mínimo.</li>
                <li>Eres o conoces a alguna persona con discapacidad.</li>
                <li>Te interesa trabajar para empresas multinacionales cercanas a tu domicilio.</li>
                <li>¡CONTÁCTANOS! Este espacio es para ti.</li>  
            </ul>
        </div>
        <div class="ms-2">
            <img src="https://media-private.canva.com/127G4/MAFkny127G4/1/t.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20230604%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230604T110814Z&X-Amz-Expires=62615&X-Amz-Signature=9759ae6e28b605e72876e87d0342cb22ce891d5e95af976f3f3046ebeade678c&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2005%20Jun%202023%2004%3A31%3A49%20GMT">
        </div>
    </div>
</article>