<div class="header mb-3 mt-2">
    <p class="h2 text-center">Accesibilidad</p>
</div>

<div class="grid">
    <button class="btn btn-light grid-cell">
        <img src="assets/leer_pagina.webp">
    </button>
    <button class="btn btn-light grid-cell">
        <img src="assets/texto.webp">
    </button>
    <button class="btn btn-light grid-cell">
        <img src="assets/espaciado.webp">
    </button>
    <button class="btn btn-light grid-cell">
        <img src="assets/ocultar_imagenes.webp">
    </button>
    <button class="btn btn-light grid-cell">
        <img src="assets/dislexia.webp">
    </button>
    <button class="btn btn-light grid-cell cursor">
        <img src="assets/cursor.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/saturacion.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/contraste.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/saturacion_pagina.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/voz.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/contraste_inteligente.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/altura.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/enlaces.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/idioma.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/texto_alineado.webp">
    </button>
    <button class="grid-cell btn btn-light">
        <img src="assets/animaciones.webp">
    </button>
</div>